POSTGRES_PASSWORD=your_strong_password_here

TG_API_ID=
TG_API_HASH=
TG_PHONE=+7XXXXXXXXXX
TG_BOT_TOKEN=
TG_OWNER_ID=
TG_CHAT_0=885574984
TG_CHAT_1=5276431471
TG_CHAT_2=3719942125

GEMINI_API_KEY=
CLAUDE_API_KEY=
